/* Home Page */

.home-body-example {

  .placeholder-content {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-bottom: 0;
    }
  }
}
