/* How to Use Page */

#how-to-use {

  .how-to-use-content {

    p {

      span {
        font-family: monospace;
        color: #9b9b9b;
      }
    }
    
    hr {
      margin-bottom: 40px;
    }
  }

  .emergence-example {
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 1s ease;

    p {
      margin-bottom: 0;
    }

    &[data-emergence="visible"] {
      transition: background-color 1s ease;
      padding: 30px;
      background-color: #000;
      color: #fff;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 5px;

      i {
        font-size: 24px;
      }
    }
  }
}
