/* How to Use Page */

#how-to-use {
  padding: 100px 0;

  .how-to-use-content {

    p {

      span {
        font-family: monospace;
        color: #9b9b9b;
      }
    }
    
    hr {
      margin-bottom: 40px;
    }
  }

  .emergence-example {
    height: 400px;

    &[data-emergence="visible"] {
      background-color: $blue;
      color: #fff;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 5px;

      i {
        font-size: 24px;
      }
    }
  }
}
