/* How to Use Page */

#how-to-use {
  padding: 100px 0;

  .how-to-use-content {

    p {

      span {
        font-family: monospace;
        color: #9b9b9b;
      }
    }
    
    hr {
      margin-bottom: 40px;
    }
  }

  .emergence-example {
    height: 400px;

    &[data-emergence="visible"] {
      background-color: $blue;
      color: #fff;
    }
  }
}
