<section class="home-carousel-example">
  
  <!-- Slider -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <h2>Welcome to Launchpad <i class="bi bi-emoji-heart-eyes"></i></h2>
          <p class="lead">This is your website now, build something cool <i class="bi bi-arrow-right"></i></p> 
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container">
            <h2>Here's a Carousel.</h2>
            <p class="lead">(If you want one) It's powered by <a href="https://swiperjs.com/" title="Swiper.js">Swiper.js</a></p> 
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container">
            <h2>Enjoy.</h2>
            <p class="lead">Click <a href="">here</a> to check out everything<br />that's baked in to Launchpad.</p> 
        </div>
      </div>
    </div>

    <!-- Slider Nav -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</section>
