<section class="home-carousel-example">
  
  <!-- Slider -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <h1>Welcome to Launchpad &nbsp;<i class="bi bi-emoji-heart-eyes"></i></h1>
          <p class="lead">This is <strong>your</strong> website now, build something cool <i class="bi bi-arrow-right"></i></p> 
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container">
            <h1>Here's a Carousel.</h1>
            <p class="lead">(If you want one) It's powered by <a href="https://swiperjs.com/" title="Swiper.js">Swiper.js</a> <i class="bi bi-arrow-right"></i></p> 
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container">
            <h1>Enjoy.</h1>
            <p class="lead">Click <a href="./about-launchpad.html">here</a> to check out everything that's baked in to Launchpad. <br />Scroll down to see more of your website.<br /><i class="bi bi-arrow-down"></i></p> 
        </div>
      </div>
    </div>

    <!-- Slider Nav -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</section>
