<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Launchpad - A Front End Starter Kit</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Derick Moncado" />
    <meta name="description" content="Launchpad - A frontend starter kit that's focused on automated web developement."/>
    <meta name="keywords" content="keywords,here" />

    <!-- CSS -->
    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="{{root}}assets/css/main.css" />
    <!-- endbuild -->
  </head>

  <body>
    <main role="main">
      <!-- Header -->
      {{> header}}

      <!-- Body -->
      {{> body}}

      <!-- Footer -->
      {{> footer}}
    </main>

    <!-- JS -->
    <!-- build:js -->
    <script type="text/javascript" src="{{root}}assets/js/vendor/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/vendor/swiper-bundle.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/vendor/emergence.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/custom.js"></script>
    <!-- endbuild -->
  </body>
</html>
